<p><%= t(".greeting", name: (@user.name.present? ? " #{@user.name}" : "")) %></p>

<p><%= t(".created_html") %></p>

<p><%= t(".instructions") %></p>

<p><%= link_to t(".sign_in"), sign_in_url %></p>

<p><%= t(".passwordless") %></p>
