<% timer_entry = defined?(@current_timer) ? @current_timer : @time_entry %>

<%= turbo_stream.replace "timer_bar" do %>
  <%= render "timers/frame", time_entry: timer_entry, form_time_entry: @form_time_entry %>
<% end %>

<%= turbo_stream.replace "tracker_entries" do %>
  <%= render "home/tracker_entries", day_groups: @tracker_day_groups %>
<% end %>

<%= turbo_stream.replace "flash" do %>
  <div id="flash"><%= render "shared/flash" %></div>
<% end %>

<%= turbo_stream.replace "command_palette" do %>
  <%= turbo_frame_tag "command_palette", src: command_palette_path(page: params[:page]) do %>
  <% end %>
<% end %>
