<%= form_with model: tag, class: "form-stack" do |form| %>
  <% if tag.errors.any? %>
    <div class="form-errors" role="alert">
      <% if tag.name_conflicts_with_archived? %>
        <p>
          <%= t(".archived_conflict_html", link: link_to(t(".unarchive_it"), tags_path(archived: "1"))) %>
        </p>
      <% else %>
        <ul>
          <% tag.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :name, t("common.labels.name") %>
    <%= form.text_field :name, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="form-actions">
    <%= form.submit tag.persisted? ? t("common.actions.save") : t(".create"), class: "btn" %>
    <%= link_to t("common.actions.cancel"), tags_path, class: "btn btn--quiet" %>
  </div>
<% end %>
