<% content_for :title, t(".title") %>

<header class="page-header">
  <div>
    <h1><%= @time_entry.description.presence || t("tracker.no_description") %></h1>
    <p class="muted">
      <%= l(@time_entry.started_at, format: :short) %>
      <% if @time_entry.ended_at? %>
        · <%= l(@time_entry.ended_at, format: :short) %>
      <% else %>
        <%= t("common.middle_dot") %><%= t("tracker.running") %>
      <% end %>
    </p>
  </div>
</header>

<dl class="details-list">
  <div>
    <dt><%= t("common.labels.project") %></dt>
    <dd><%= @time_entry.project&.name || t("tracker.no_project_plain") %></dd>
  </div>
  <div>
    <dt><%= t("common.labels.task") %></dt>
    <dd><%= @time_entry.task&.name || t("tracker.no_task") %></dd>
  </div>
  <div>
    <dt><%= t("common.labels.billable") %></dt>
    <dd><%= @time_entry.billable? ? t("common.yes") : t("common.no") %></dd>
  </div>
</dl>
