<p><%= t(".greeting", name: (@user.name.present? ? " #{@user.name}" : "")) %></p>

<p><%= t(".intro_html") %></p>

<p style="font-size: 28px; letter-spacing: 6px; font-weight: bold;"><%= @code %></p>

<p><%= t(".expiration") %></p>

<p><%= t(".ignore") %></p>
